.App {
  text-align: center;
  padding:2rem;
}

li {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 20px;

}

div.optimistic {
  color: rgba(204, 30, 30, 0.5);
}

.msg{
  display: block;
}

h2 {
  font-size: 50px;
}

a {
  font-size: 24px;
}

